<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricar.gestionate2">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgregarActivity" />
        <activity android:name=".PacientesActivity" />
        <activity android:name=".FacturasActivity" />
        <activity android:name=".FichaActivity" />
        <activity android:name=".FichaPacientes" />
        <activity android:name=".Mailing"></activity>
    </application>

</manifest>